<div class="jumbotron">
    <h1 class="display-4 text-center">News Scraper</h1>
    <div class="text-center scrape">
        <a href="/scrape" class="btn btn-outline-dark">Get the news</a>
    </div>
</div>