/* General styling */

body {
    background-image: url(../img/background.png);
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}

.jumbotron {
    background-color: rgba(0,0,0,0);
    margin-top: 5rem;
}

.scrape {
    margin-top: 3rem;
}

.title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 5rem;
}

/* Styling for Articles */

.thumbnail {
    width: 100%;
    margin-bottom: .7rem;
    float: left;
}

.link {
    color: #3A42C7;
}

.text {
    margin-bottom: .7rem;
    float: left;
}

/* Styling for comments */

.comment-btn {
    font-size: .7rem;
    margin-bottom: .7rem;
    float: right;
}

.comment-form {
    margin: .5rem 0;
}

.comment-text {
    font-style: italic;
}

.comment-user {
    color: #3A42C7;
}

.delete-btn {
    font-size: 1rem;
    background: none;
    border: none;
}

.delete-btn:hover {
    color: #3A42C7;
}

.card-body {
    border-color: grey;
    border-width: 1px;
}

.card {
    margin-bottom: .4rem;
}
